<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- 通过 CARenderServer / IOSurface 截屏所需权限 -->
	<key>com.apple.QuartzCore.displayable-context</key>
	<true/>
	<key>com.apple.QuartzCore.global-capture</key>
	<true/>
	<key>com.apple.QuartzCore.secure-capture</key>
	<true/>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.QuartzCore.system-layers</key>
	<true/>
	<key>com.apple.private.IOSurface.protected-access</key>
	<true/>
	<key>com.apple.backboard.client</key>
	<true/>
	<!-- 网络 -->
	<key>com.apple.private.security.no-container</key>
	<true/>
</dict>
</plist>
